@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-glass-black: #09090b;
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --color-tennis-green: #ccff00;
}

@utility glassmorphism {
  @apply backdrop-blur-md bg-white/5 border border-white/10;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
